{
  "presets": ["es2015", "react", "stage-0","stage-1","stage-2"],
  "plugins": [
    ["transform-runtime", {"polyfill": false }],
    "add-module-exports"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
            "transforms": [{
                "transform": "react-transform-catch-errors",
                "imports": ["react", "redbox-react"]
              }
            ]
        }]
      ]
    },
    "production": {},
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
