{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "camelcase" : 1,
    "no-empty" : 1,
    "no-unused-vars": [2,{ "args": "none", "ignoreRestSiblings": true}],
    "react/jsx-key": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/react-in-jsx-scope": 1,
    "react/jsx-pascal-case": 1,
    "prettier/prettier": "error"
  },
  "plugins": [
    "react",
    "prettier"
  ]
}
